/**
 * @name Spotify_Discord
 * @version 1.5.0
 * @description Combine Discord and Spotify into one
 * @author CapnKitten
 * 
 * @website http://github.com/CapnKitten
 * @source https://github.com/CapnKitten/BetterDiscord/blob/master/Themes/Spotify-Discord/css/source.css
 * @donate https://paypal.me/capnkitten
 * @invite jzJkA6Z
 */

@import url(https://capnkitten.github.io/BetterDiscord/Themes/Spotify-Discord/css/source.css);

:root {
	--accent-color: #505f7a;
	--accent-hover: #47546b;
	--accent-rgb: 29,185,84;
	--accent-text-color: #d8dee9; /*	-	*/

	--chat-color: #262b35;
	--chat-box-color: #3b4252;
	--sidebar-color: #1a1d24;
	--sidebar-panel: #252933; /*	-	*/

	--title-bar: #16191f;
	--sticky-header: #252933;
	--sticky-header-border: #1d1e22; /*	-	*/

	--bar-color: #1a1d24;
	--bar-border-color: #252933;
	--bar-size: 90px; /*	-	*/

	--popout-color: #2c313d;
	--popout-radius: 7px;
	--popout-radius-small: 3px; /*	-	*/

	--input-bg: #2c313d;
	--input-text-color: #d8dee9;
	--input-placeholder-color: #606368;
}

/* CUSTOM SERVER TITLE BAR COLORS */

.container-3w7J-x[aria-label*="BetterDiscord"]:before {
	--title-custom: #3b77c4;
}

.container-3w7J-x[aria-label*="CapnKitten"]:before {
	--title-custom: #184c88;
}
