/*================== Nord Mac for Firefox ==================
Author: dpcdpc11.deviantart.com
ENJOY!
*/

/*================ GLOBAL COLORS ================*/
:root {
	--night_color1: #2E3440;
	--night_color2: #3B4252;
	--night_color3: #434C5E;
	--night_color4: #4C566A;
	
	--snow_color1: #D8DEE9;
	--snow_color2: #E5E9F0;
	--snow_color3: #ECEFF4;
	
	--frost_color1: #8FBCBB;
	--frost_color2: #88C0D0;
	--frost_color3: #81A1C1;
	--frost_color4: #5E81AC;
	
	--aurora_color1: #BF616A;
	--aurora_color2: #D08770;
	--aurora_color3: #EBCB8B;
	--aurora_color4: #A3BE8C;
	--aurora_color5: #B48EAD;
}

/*================ LIGHT THEME ================*/
:root {
	
}

/*================ DARK THEME ================*/
:root:-moz-lwtheme-brighttext,
toolbar[brighttext] {

}


/*================== MAIN HEADER ==================*/
toolbox#navigator-toolbox  {
	border: 0 !important;
}

/*================== TABS BAR ==================*/
#titlebar #TabsToolbar {
	padding: 6px 0px 2px 6px !important;
	background: var(--night_color1) !important;
}
.titlebar-spacer[type="pre-tabs"] {
	/* border: 0 !important; */
	display: none;
}

#tabbrowser-tabs:not([movingtab]) > .tabbrowser-tab[beforeselected-visible]::after, #tabbrowser-tabs[movingtab] > .tabbrowser-tab[visuallyselected]::before, .tabbrowser-tab[visuallyselected]::after {
    opacity: 0 !important;
}
.tab-line {
    height: 0px !important;
}

.tabbrowser-tab {
    margin-right: 5px !important;
}
.tabbrowser-tab:not([visuallyselected="true"]), .tabbrowser-tab:-moz-lwtheme {
    color: var(--frost_color3) !important;
}

.tabbrowser-tab > .tab-stack > .tab-background {
	border-radius: 3px !important;
}
.tabbrowser-tab > .tab-stack > .tab-background:not([selected="true"]) {
	background-color: var(--night_color2) !important;
}
.tabbrowser-tab:hover > .tab-stack > .tab-background:not([selected="true"]) {
    background-color: var(--night_color3) !important;
}

tab[selected="true"] .tab-content {
	color: var(--snow_color3) !important;
}
tab[selected="true"] .tab-background {
	background: var(--night_color4) !important;
}

.tabbrowser-tab::after, .tabbrowser-tab::before {
    border-left: 0 !important;
    opacity: 0 !important;
}

.tab-close-button {
	transition: all 0.3s ease !important;
    border-radius: 3px !important;
}
.tab-close-button:hover {
    fill-opacity: 0.2 !important;
}


/*================== BOOKMARKS TOOLBAR ==================*/
#PersonalToolbar {
	background: var(--night_color1) !important;
	color: var(--frost_color3) !important;
	padding-bottom: 6px !important;
	padding-top: 2px !important;
}
toolbarbutton.bookmark-item {
	transition: all 0.3s ease !important;
    padding: 3px 5px !important;
}
#PlacesToolbar toolbarseparator {
	-moz-appearance: none !important;
	width: 1px;
	margin: 0 8px !important;
	background-color: var(--frost_color3) !important;
	padding-inline: 0px !important;
}


/*================== CAPTION BUTTONS ==================*/
.titlebar-buttonbox {
    position: relative;
    margin-right: 0px;
	margin-top: -10px !important;
}
.titlebar-button {
	transition: all 0.3s ease !important;
	padding: 8px 10px !important;
	background: none !important;
}
.titlebar-button.titlebar-close {
	padding-right: 26px !important;
}
.titlebar-button > .toolbarbutton-icon {
	transition: all 0.3s ease !important;
	list-style-image: none;
	border-radius: 15px;
	width: 10px !important;
	height: 10px !important;
}

/* the 12px image renders a 10px icon, and the 10px upscaled gets rounded to 12.5, which
* rounds up to 13px, which makes the icon one pixel too big on 1.25dppx. Fix: */
@media (min-resolution: 1.20dppx) and (max-resolution: 1.45dppx) {
.titlebar-button > .toolbarbutton-icon {
	width: 12px !important;
	height: 12px !important;
}
}

/* 175% dpi should result in the same device pixel sizes as 150% dpi. */
@media (min-resolution: 1.45dppx) and (max-resolution: 1.70dppx) {
.titlebar-button > .toolbarbutton-icon {
	width: 12px !important;
	height: 12px !important;
}
}

/* 175% dpi should result in the same device pixel sizes as 150% dpi. */
@media (min-resolution: 1.70dppx) and (max-resolution: 1.95dppx) {
.titlebar-button > .toolbarbutton-icon {
	width: 12px !important;
	height: 12px !important;
}
}

.titlebar-button:hover > .toolbarbutton-icon {
	background: none !important;
}
.titlebar-button.titlebar-min > .toolbarbutton-icon {
	background: var(--aurora_color3) !important;
}
.titlebar-button.titlebar-max > .toolbarbutton-icon,
.titlebar-button.titlebar-restore > .toolbarbutton-icon {
	background: var(--aurora_color4) !important;
}
.titlebar-button.titlebar-close > .toolbarbutton-icon {
    background: var(--aurora_color1) !important;
}
.titlebar-button.titlebar-min:hover > .toolbarbutton-icon,
.titlebar-button.titlebar-max:hover > .toolbarbutton-icon,
.titlebar-button.titlebar-restore:hover > .toolbarbutton-icon,
.titlebar-button.titlebar-close:hover > .toolbarbutton-icon {
	background: var(--night_color4) !important;
}


/*================== NEW TAB BUTTON ==================*/
toolbar #tabs-newtab-button:not([disabled="true"]):not([checked]):not([open]):not(:active) > .toolbarbutton-icon,
toolbar #tabs-newtab-button:not([disabled="true"]):-moz-any([open], [checked], :hover:active) > .toolbarbutton-icon,
toolbar #tabs-newtab-button:not([disabled="true"]):-moz-any([open], [checked], :active) > .toolbarbutton-icon {
	transition: all 0.3s ease !important;
	fill: var(--frost_color3) !important;
	border-radius: 3px !important;
	background-color: var(--night_color1) !important;
}
toolbar #tabs-newtab-button:not([disabled="true"]):not([checked]):not([open]):not(:active):hover > .toolbarbutton-icon {
	background-color: var(--night_color3) !important;
}


/*================== NAV BAR ==================*/
toolbar#nav-bar {
	background: var(--night_color1) !important;
	box-shadow: none !important;
	padding-bottom: 3px !important;
}
toolbar#nav-bar toolbarbutton .toolbarbutton-icon,
toolbar#nav-bar toolbarbutton #fxa-avatar-image {
	transition: all 0.3s ease !important;
	fill: var(--frost_color3) !important;
}
toolbar#nav-bar #urlbar > #urlbar-background,
toolbar#nav-bar #searchbar {
	border-radius: 3px !important;
	border: 0 !important;
	background: var(--night_color2) !important;
}
toolbar#nav-bar #urlbar:not([focused="true"]) > #urlbar-background,
toolbar#nav-bar #urlbar > #urlbar-input-container,
toolbar#nav-bar #searchbar > .searchbar-textbox {
	border-radius: 3px !important;
	color: var(--frost_color3) !important;
}
toolbar#nav-bar #searchbar > .searchbar-search-button {
	fill: var(--frost_color3) !important;
}
toolbar#nav-bar #search-container {
	padding-top: 5px !important;
}

#PersonalToolbar .toolbarbutton-1:not([disabled="true"]):not([checked]):not([open]):not(:active):hover, .tabbrowser-arrowscrollbox:not([scrolledtostart="true"])::part(scrollbutton-up):hover, .tabbrowser-arrowscrollbox:not([scrolledtoend="true"])::part(scrollbutton-down):hover, .findbar-button:not(:-moz-any([checked="true"], [disabled="true"])):hover, toolbarbutton.bookmark-item:not(.subviewbutton):hover:not([disabled="true"]):not([open]), toolbar .toolbarbutton-1:not([disabled="true"]):not([checked]):not([open]):not(:active):hover > .toolbarbutton-icon, toolbar .toolbarbutton-1:not([disabled="true"]):not([checked]):not([open]):not(:active):hover > .toolbarbutton-text, toolbar .toolbarbutton-1:not([disabled="true"]):not([checked]):not([open]):not(:active):hover > .toolbarbutton-badge-stack {
	background: var(--night_color2) !important;
}

#PersonalToolbar .toolbarbutton-1:not([disabled="true"]):-moz-any([open], [checked], :hover:active), .findbar-button:not([disabled="true"]):-moz-any([checked="true"], :hover:active), toolbarbutton.bookmark-item:not(.subviewbutton):hover:active:not([disabled="true"]), toolbarbutton.bookmark-item[open="true"], toolbar .toolbarbutton-1:not([disabled="true"]):-moz-any([open], [checked], :hover:active) > .toolbarbutton-icon, toolbar .toolbarbutton-1:not([disabled="true"]):-moz-any([open], [checked], :hover:active) > .toolbarbutton-text, toolbar .toolbarbutton-1:not([disabled="true"]):-moz-any([open], [checked], :hover:active) > .toolbarbutton-badge-stack {
	background: var(--night_color3) !important;
}

:root:not([uidensity="compact"]) #back-button > .toolbarbutton-icon {
	background-color: transparent !important;
}

#urlbar {
	color: var(--frost_color3) !important;
}
.urlbarView-url {
	color: var(--snow_color1) !important;
}


/*================== SIDEBAR ==================*/
#sidebar-box,
.sidebar-panel[lwt-sidebar-brighttext] {
	background-color: var(--night_color1) !important;
}
#sidebar-header {
	border-color: var(--night_color2) !important;
}
.sidebar-splitter {
	border-color: var(--night_color2) !important;
}

#sidebar-switcher-bookmarks > .toolbarbutton-icon,
#sidebar-box[sidebarcommand="viewBookmarksSidebar"] > #sidebar-header > #sidebar-switcher-target > #sidebar-icon,
#sidebar-header,
#sidebar-title {
	color: var(--frost_color3) !important;
}
#sidebar-switcher-target:hover,
#sidebar-switcher-target:hover:active, #sidebar-switcher-target.active,
#viewButton:hover,
#viewButton[open] {
	background-color: var(--night_color2) !important;
}
.sidebar-placesTreechildren {
	color: var(--frost_color3) !important;
}
#search-box,
.search-box {
	-moz-appearance: none !important;
	background-color: var(--night_color2) !important;
	border-radius: 3px !important;
	color: var(--frost_color3) !important;
}
.content-container {
	background-color: var(--night_color1) !important;
	color: var(--frost_color3) !important;
}
#viewButton {
	color: var(--frost_color3) !important;
}